{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <h1>Parcels</h1>
        <ul>
        {% for parcel in object_list %}
            <li>{{ parcel.id }}</li>
        {% empty %}
            <li>No parcels yet.</li>
        {% endfor %}
        </ul>
        <div class="d-grid gap-2" align="center">
              <a href="{% url 'parcels:create' %}"><button class="btn btn-outline-info" type="submit">Place a new parcel</button></a>
        </div>
    </div>
{% endblock %}