{% load static %}

<nav style="background-color: #1b1b1b">
    <a href="{% url 'users:home' %}"><img src="{% static 'images/logo-courier.png' %}" alt=""></a>
    <div class="nav-links" id="navLinks">
        <i class="fa fa-times" onclick="hideMenu()"></i>
        <ul>
            <li><a href="{% url 'users:home' %}">HOME</a></li>
            <li><a href="">ABOUT</a></li>
            <li><a href="{% url 'parcels:parcels' %}">PARCELS</a></li>
            <li><a href="{% url 'parcels:track' %}">TRACK PARCEL</a></li>
            <li><a href="">COST CALCULATOR</a></li>
            <li><a href="">CARRIER</a></li>
            <li><a href="">CONTACT</a></li>

            {% if user.is_authenticated %}
                {% if user.is_superuser %}
                    <li><a href="/admin/">Admin</a></li>
                {% endif %}
                <li><a href="{% url 'users:user_detail' user.id %}">Profile</a></li>
                <li><a href="{% url 'users:logout' %}">Logout</a></li>

            {% else %}
                <li><a href="{% url 'users:login' %}">Login</a></li>
                <li><a href="{% url 'users:customer_signup' %}">SignUP</a></li>
            {% endif %}
        </ul>
    </div>
    <i class="fa fa-bars" onclick="showMenu()"></i>
</nav>